{% extends "base.html" %}
    {% block additional_title %}- Login{% endblock %}
    {% block content %}
    <div  class="greenbox" id="login">
        <h2>Geovision</h2>
        <p>
            Geovision is software for sequence and metabolic network analysis of metagenomics samples.
			It features a graph-based tool for visualizing sequence similarity between sample reads and sequences in UniProt, fRNAdb and SILVA databases, as well as enzyme annotations.
			Links to entries in external databases including sequence databases and KEGG are provided.
        </p>
    <a href="register" id="register">Register</a>
    <a href="login" id="about">Login</a>
    </div>
    {% endblock %}


