<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}reset.css" type="text/css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}effects.js"></script>
    {% block additional_head %}
	{% endblock %}
    <title>Geovision - data visualisation system {% block additional_title %}{% endblock %}</title>
</head>
<body>
    {% block allcontent %}{% endblock %}
</body>
</html>