{% extends "sitebase.html" %}

{% block additional_head %}

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}RGraph.js"></script>

<!-- JSON File -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}json_test_file.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css"/>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}graphviz.js"></script>
{% endblock %}

{% block additional_title %}- graph {% endblock %}
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
{% block sidenavi_content %}

<form id="graphrefresh" action="graphrefresh" method="post">{% csrf_token %} <!--protects from cross site request forgery-->
    <p>Input only one of the three following:</p>
    <label>ECnumber</label>
    <input size="10" type="text" name="ecnumber" value="{{ ecnumber }}"/><br/><br/>
    <label>Read id</label>
    <input size="10" type="text" name="read" value="{{ read }}"/><br/><br/>
    <label>DB entry id</label>
    <input size="10" type="text" name="dbentry" value="{{ dbentry }}"/><br/><br/>
    <label>Bitscore</label>
    <input size="10" type="text" name="bitscore" value="{{ bitscore }}"/><br/><br/>
    <label>E-value</label>
    <input size="10" type="text" name="e-value" value="{{ evalue }}"/><br/><br/>
    <label>Depth</label>
    <input size="10" type="text" name="depth" value="{{ depth }}"/><br/><br/>
    <label>Hits</label>
    <input size="10" type="text" name="hits" value="{{ hits }}" /><br/><br/>
    <input id="graphrefresh" type="submit" value="Refresh page" size="10"/><br/>
</form>


{% endblock %}
{% block content %}
<body onload="init();">
<div id="container">

<!--
<div id="left-container">



<div class="text">
<h4>
Graph animation


</h4> 
    This is a test data visualization. Data is constructed of real django models.
</div>

<div id="id-list"></div>


<div style="text-align:center;"><a href="{{ STATIC_URL }}graphviz.js">See the Example Code</a></div>            
</div>
-->
{% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
</div>
</body>
{% endblock %}

