{% extends "sitebase.html" %}

{% block additional_head %}
<!--It seems it has to be before anything else-->
{%autoescape off%}
<script language="javascript" type="text/javascript">
var settings = 
{% if user_settings %}
{{user_settings}};
{% else %}
 {};
{% endif %}
</script>
{%endautoescape%}
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}JIT.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css"/>
<link type="text/css" href="{{ STATIC_URL }}ui-lightness/jquery-ui.css" rel="stylesheet" />	

<script language="javascript" type="text/javascript" src="{{ STATIC_URL}}jquery.contextmenu.r2.js"></script>

<!-- RGraph configuration settings -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/bitscore.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/config.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/contextmenu.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/events.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/labels.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/navigation.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/moreinfo.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/styles.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/tips.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}graphviz.js"></script>

<script language="javascript" type="text/javascript">
$(function() {
{% if json_base_url %}
	json_base_url = "{{ json_base_url|safe }}";
 	$.getJSON(json_base_url + "&{{ json_query_url_part|safe }}", function(data) { initGraph(data); });
{% else %}
	initGraph(null);
{% endif %}
});
</script>
<!-- jQuery-UI, for autocomplete -->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js"></script>

{% endblock %}

{% block additional_title %}- graph {% endblock %}
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
{% block sidenavi_content %}

<form id="graphrefreshform" action="graphrefresh" method="post">{% csrf_token %} <!--protects from cross site request forgery-->
	<table><tr><td colspan="2">
		<strong>Get a new graph:</strong>
	</td></tr><tr><td colspan="2">
		<p>(Input only one of the three following)</p>
	</td></tr><tr><td>
		<label>Enzyme:</label>
	</td><td>
		<input size="10" type="text" name="enzyme" id="ec" value="{{ enzyme }}"/><br/><br/>
		{% if enzyme_list %}
		</td></tr><tr><td colspan="2">Multiple enzymes matched, pick one:
		{% for e in enzyme_list %}
		</td></tr><tr><td colspan="2"><p class="submitForm" id='{{ e.enzyme }}'>{{ e.enzyme_name }} ({{ e.enzyme }})</p>
		{% endfor %}
		{% endif %}
	</td></tr><tr><td>
		<label>Read id:</label>
	</td><td>
		<input size="10" type="text" name="read" value="{{ read }}"/><br/><br/>
	</td></tr><tr><td>
		<label>DB entry id:</label>
	</td><td>
		<input size="10" type="text" name="dbentry" value="{{ dbentry }}"/><br/><br/>
	</td></tr><tr><td>
		<label>Minimum bitscore:</label>
	</td><td>
		<input size="10" type="text" name="bitscore" value="{{ bitscore }}"/><br/><br/>
	</td></tr><tr><td>
		<label>Minimum e-value:</label>
	</td><td>
		<input size="10" type="text" name="e-value" value="{{ evalue }}"/><br/><br/>
	</td></tr><tr><td>
		<label>Depth:</label>
	</td><td>
		<input size="10" type="text" name="depth" value="{{ depth }}"/><br/><br/>
	</td></tr><tr><td>
		<label>Hits per node:</label>
	</td><td>
		<input size="10" type="text" name="hits" value="{{ hits }}" /><br/><br/>
	</td></tr><tr><td colspan="2">
		<input id="graphrefresh" type="submit" value="Refresh page" size="10"/><br/>
	</td></tr></table>
</form>

{% if error_message or not json_base_url %}
	<script language="javascript" type="text/javascript">openSearch($('#graphnavi'));</script>
	<p id="navierror">{{ error_message }}</div>
{% else %}
	
{% endif %}

<script language="javascript" type="text/javascript">
	$(function()
	{
		$( "#ec" ).autocomplete(
		{
			source: '/autocomplete',
			appendTo: '#navicontainer',
			position: { my : "center top", at: "center bottom"}
		});
	});
</script>
{% endblock %}
{% block content %}
<body>
    <div class="contextMenu" id="nodeMenu">
        <ul> 
             <li id="close">Close menu</li>
             <li id="n_center">Center Node</li>
			 <li id="n_more">More connections</li>
             <li id="e_align">Show Alignment</li>
             <li id="n_tag">Tag/Untag Node</li>
             <li id="n_tagparents">Tag Parents</li>
             <li id="n_tagsubnodes">Tag Subnodes</li>
             <li id="n_tagsubgraph">Tag Subgraph</li>
             <li id="n_untagsubgraph">Untag Subgraph</li>
             <li id="n_tagpath">Tag Path</li>
			 <li id="n_en_names">Show info</li>
			 <li id="n_en_brendalink">Brenda</li>
			 <li id="n_en_kegglink">KEGG</li>
			 <li id="n_db_uni_link">Uniprot</li>
			 <li id="n_db_frn_link">Frnadb</li>
			 <li id="n_db_silva_link">Silva</li>
        </ul>
    </div>
    <div id="loader"><img src="../static/images/loader.gif" alt="Loading..."/></div>

	<div id="container">		
		<div id="graphcontainer">
			<div id="center-container">
				<span id="load"></span>
				<div id="infovis"></div>
			</div>

			<div id="right-container">
				<a id="logoutbutton" href="logging_out">Logout</a><br/>
				<div id="inner-details"></div>
				<span id="helplink">Help</span>
				<div id="help">
					<p><strong>Getting a graph</strong></p>
					<p>To get a graph, take your mouse to the options tag on the left side of the screen and a form will open up. Input some values and click the button under them.</p>
					<p><strong>Navigating</strong></p>
					<p>Klick on a node to open more connections from that node. The extra connection will come with the same terms as the original graph (like minimum bitscore). All other options are available by right clicking any node.</p>
					<p><strong>Alignments</strong></p>
					<p>Right click on an edge and select Alignment from the menu to show an alignment of the read sequence and the database sequence (upper is read). The data opens under the graph and only one alignment can be visible at a time.</p>
					<p><strong>Settings</strong></p>
					<p>Settings control some aspects of this application. They are saved on your profile.</p>
					<p><strong>Settings</strong></p>
					<p>Settings control some aspects of this application. They are saved on your profile.</p>
					<p><strong>Coloring</strong></p>
					<p>Dynamic node coloring means coloring is se so that the connection with the lowest bitscore that is still visible is red and the highest is green. Custom means you can set the values so that everything rated below the first is red and everything above the second is green.
					<p><strong>Right hand filter</strong></p>
					<p>This filter lets you temporarily filter out all edges under the spesified value.</p>
				</div>
				<br/>
				<br/>
					<button id="deleteUntagged">Delete all untagged</button>
					<br/>
				<div id="coloring">
					<form action=""  id="colorform">
						<input type="radio" name="colortype" id="colortypeDynamic" value="dynamic" checked/>Dynamic<br/>
						<input type="radio" name="colortype" id="colortypeCustom" value="custom"/>Custom: 
						<input type="text" id="colorMin" size="4" disabled/>-<input type="text" id="colorMax" size="4" disabled/><br/>
						<input type="submit" id="colorizeSubmit" value="Colorize"/>
						<span id="colorErrorMsg" class="error"></span>
					</form>
				</div>
				<br/>
				<span id="filtertext">Filter graph</span>
				<div id="filter">
					<form id="filterform" action="" method="post">
						<span id="filtererror"></span>
						<p>Filter now visible graph with bitscore:</p>
						<input size="10" type="text" name="bitscorefilter" id="bitscorefilter" value="{{ bitscore }}"/><br/>
						<input type="hidden" name="masterbitscorefilter" value="{{ bitscore }}"/>
						<input id="filterbutton" type="submit" value="Filter" size="10"/><br/>
					</form>
				</div>
				<br/>
				<div id="names"></div>
				<br/>
<span id="settingslink">Your settings</span>  {%if settingsmessage%}<span style="color:red;" id="settingmessage">{{ settingsmessage }}</span>{%endif%}<br/>
				<div id="settings">
					<form id="settingsform" action="savesettings" method="post">
						{% csrf_token %}
						<label>Canvas size:</label><br/>
						<input type="text" size="6" name="canvas_x" id="canvas_x" value=""> x <input type="text" size="6" name="canvas_y" id="canvas_y" value=""><br/>
						<label>Animations:</label><br/>
						<input type="radio" name="group1" value="animations_on" id="animations_on" checked="checked"> On<br/>
						<input type="radio" name="group1" value="animations_off" id="animations_off"> Off<br/>
						<label>Animation speed in ms:</label><br/>
						<input size="7" type="text" name="duration" id ="duration" value="" /><br/>
						<label>Animation type:</label><br/>
						<select id="animationtype" name="animationtype">
						  <option value="linear">Linear</option>
						  <option value="Quad">Quadratic</option>
						  <option value="Cubic">Cubic</option>
						  <option value="Quart">Quartetic</option>
						  <option value="Quint">Quintic</option>
						  <option value="Expo">Exponential</option>
						  <option value="Circ">Circular</option>
						  <option value="Sine">Sineousidal</option>
						  <option value="Bounce">Bounce</option>
						  <option value="Back">Back</option>
						  <option value="Elastic">Elastic</option>
						</select><br/>
						<label>Animation subtype:<br/>
						Note: does not effect linear transitions</label><br/>
						<select name="animationsubtype" id="animationsubtype">
							<option value="easeIn">Ease in</option>
							<option value="easeOut">Ease out</option>
							<option value="easeInOut">Ease in and out</option>
						</select><br/>
						<p><strong>Warning</strong>: changing settings refreshes the page</p>
						<input id="savesettings" name="savesettings" type="submit" value="Save your settings" size="10" style="margin-bottom:4px;"/><br/>
						<input id="defaultsettings" name="defaultsettings" type="submit" value="Switch to defaults" size="10"/><br/>
					</form>
					<br/>
				</div>
			</div>

			<div id="log"></div>
		</div>
		<div id="alignment"></div>
	</div>
</body>
{% endblock %}

