{% extends "base.html" %}
    {% block additional_title %}- Login{% endblock %}
    {% block content %}
    <div  class="greenbox" id="help">
        <h2>Geovision - Help</h2><br/><br/>
		<p>Help topics:</p>
		<ul>
			<li><a href="#login">Logging in</a></li>
			<li><a href="#newgraph">Getting a new graph</a></li>
			<li><a href="#savedviews">Saved views</a></li>
			<li><a href="#navigating">Navigating the graph</a></li>
			<li><a href="#alignments">Alignments</a></li>
		</ul>
		<br/><br/>
		<p id="login"><strong>Logging in</strong></p><br/>
        <p>
            To log in, input the username and password that you entered during registration.
			Because the system is only accessible to people authorised to use it,
			you must wait for your account to be activated by the superuser.
			If you get an error saying your account is not active,
			please contact the current admin (Esa Pitkänen). Once you are succesfully logged in,
			you will be directed to the graph-page.
        </p>
		<p id="newgraph"><strong>Getting a new graph</strong></p><br/>
		<p>
			To get a graph, take your mouse to the options
			tag on the left side of the screen and a form will open up.
			Input some values and click the button under them to get a graph with those values.<br/>
			The values explained:<br/>
			<ul>
				<li>Enzyme: EC-number of the enzyme you want to search for.
					You can also input the name and the system will autocomplete it for you.</li>
				<li>Read id: ID-number of the specific read you want to search for.</li>
				<li>DB entry id: ID-number of the specific database entry you want to search for.</li>
				<li>Minimum bitscore: A bitscore limit. Nodes with bitscores under this will not be taken into account. </li>
				<li>Minimum e-value: A e-value limit. Nodes with e-values under this will not be taken into account. </li>
				<li>Depth: The initial depth of the graph, meaning how many circles of nodes will initially be drawn.</li>
				<li>Hits per node: How many edges per node will initially be drawn. The ones that will be drawn will be the best ones of each node.</li>
			</ul>
			You can also select which samples to use in getting results. The default (none selected) means all of the will be used.
			If you would prefer to use only the samples of your chosing, click on their checkboxes before clicking 'refresh page'.
		</p>
		<p id="savedviews"><strong>Saved views</strong></p><br/>
		<p>
			You can save a graph by inputting a name in the box on the right hand side of the
			screen that says 'save current view as' and clicking the save button.
			The graph will then be saved for later viewing on your account. To view a graph you have saved
			click the 'Load' link under the name of the view you want to see. You can also delete a view or
			export it as a JSON file. For these there are links next to the loading link.
		</p>
		<p id="navigating"><strong>Navigating the graph</strong></p><br/>
		<p>
			Once you have a graph open, you can navigate it by clicking on nodes.
			To open connections from a node, simply click on it. If connections are already open, clicking
			will show more of them. Allmost all other functions can be accessed from the menu which opens
			when an object is clicked with the right mouse button. The menu shows actions that are available
			for that specific object. For edges it shows only alignments, but for nodes it shows many different functions.
			
		</p>
		<p id="alignments"><strong>Alignments</strong></p><br/>
		<p>

		</p>
    </div>
    {% endblock %}


ß