{% extends "base.html" %}
    {% block additional_title %}- Login{% endblock %}
    {% block content %}
    <div  class="greenbox" id="help">
        <h2>Geovision - Help</h2><br/><br/>
		<p>Help topics:</p>
		<ul>
			<li><a href="#login">Logging in</a></li>
			<li><a href="#logout">Logging out</a></li>
			<li><a href="#newgraph">Getting a new graph</a></li>
			<li><a href="#savedviews">Saved views</a></li>
			<li><a href="#navigating">Navigating the graph</a></li>
			<li><a href="#tooltips">Tooltips</a></li>
			<li><a href="#tagging">Tagging the graph</a></li>
			<li><a href="#undo">Undoing changes</a></li>
			<li><a href="#info">Extra info and other databases</a></li>
			<li><a href="#colors">Colors of the edges</a></li>
			<li><a href="#alignments">Alignments</a></li>
			<li><a href="#settings">Settings</a></li>
		</ul>
		<br/><br/>
		<p id="login"><strong>Logging in</strong></p><br/>
        <p>
            To log in, input the username and password that you entered during registration.
			Because the system is only accessible to people authorised to use it,
			you must wait for your account to be activated by the superuser.
			If you get an error saying your account is not active,
			please contact the current admin (Esa Pitkänen). Once you are succesfully logged in,
			you will be directed to the graph-page.
        </p>
		<p id="logout"><strong>Logging out</strong></p><br/>
        <p>
            After ending your work session, remember to log out of the system for security reasons. 
			You can save your work so you can return to it the next time you log in (for this see <a href="#savedviews">saved views</a>). 
			Logging out is done by clicking on the 'Logout' button in the upper right corner of the screen. This will guide you back to the login page.
        </p>
		<p id="newgraph"><strong>Getting a new graph</strong></p><br/>
		<p>
			To get a graph, take your mouse to the options
			tag on the left side of the screen and a form will open up.
			Input some values and click the button under them to get a graph with those values.<br/>
			The values explained:<br/>
			<ul>
				<li>Enzyme: EC-number of the enzyme you want to search for.
					You can also input the name and the system will autocomplete it for you.</li>
				<li>Read id: ID-number of the specific read you want to search for.</li>
				<li>DB entry id: ID-number of the specific database entry you want to search for.</li>
				<li>Minimum bitscore: A bitscore limit. Nodes with bitscores under this will not be taken into account. </li>
				<li>Minimum e-value: A e-value limit. Nodes with e-values under this will not be taken into account. </li>
				<li>Depth: The initial depth of the graph, meaning how many circles of nodes will initially be drawn.</li>
				<li>Hits per node: How many edges per node will initially be drawn. The ones that will be drawn will be the best ones of each node.</li>
			</ul>
			You can also select which samples to use in getting results. The default (none selected) means all of the will be used.
			If you would prefer to use only the samples of your chosing, click on their checkboxes before clicking 'refresh page'.
		</p>
		<p id="savedviews"><strong>Saved views</strong></p><br/>
		<p>
			You can save a graph by inputting a name in the box on the right hand side of the
			screen that says 'save current view as' and clicking the save button.
			The graph will then be saved for later viewing on your account. To view a graph you have saved
			click the 'Load' link under the name of the view you want to see. You can also delete a view or
			export it as a JSON file. For these there are links next to the loading link.
		</p>
		<p id="navigating"><strong>Navigating the graph</strong></p><br/>
		<p>
			Once you have a graph open, you can navigate it by clicking on nodes.
			To open connections from a node, simply click on it. If connections are already open, clicking
			will show more of them. Allmost all other functions can be accessed from the menu which opens
			when an object is clicked with the right mouse button. The menu shows actions that are available
			for that specific object. For edges it shows only alignments, but for nodes it shows many different functions.
			Every node also has an option to center that node. Using this will make traversal in the graph easier and it also effects the tagging of the nodes (see <a href="#tagging">tagging the graph</a>).
			Also, to make viewing the graph easier <strong>different types of nodes</strong> have been colorcoded for your convenience.
			Enzyme nodes are blue, database entries are green and reads are red.
		</p>
		<p id="tooltips"><strong>Tooltips</strong></p><br/>
		<p>
			The boxes that open next to the mouse, when the mouse is over an edge or node are called tooltips.
			They display some usefull information conserning the element they are atached to. When hovering over an edge
			you can see the IDs of the two elements it connects and the bitscore and the e-value of the edge.
			Over any type of node, you can see the number of hidden connections that are not displayed in the graph. This only takes into account connections that are over the bitscore and/or e-value limits you used when getting the graph.
			When hovering over an enzyme node you can see its ec-number and the first of its names that are listed in the database
			(for displaying more names, see <a href="#info">Extra info</a>). When hovering over an database entry, you can see it's ID, what database it's from and it's name and when hovering
			over a read node, you can see it's ID and other related info.
		</p>
		<p id="tagging"><strong>Tagging the graph</strong></p><br/>
		<p>
			Tagging the graph is a feature made to make traversing and viewing the graph easier. A node can be tagged by selecting 'tag/untag node' from the
			rightclick menu. The same command also untags a tagged node. When a node is tagged, its center turns white,
			making it look slightly different from the other nodes. Tagging a node will also automaticly always tag a path to the centered node.
			Nodes can also be tagged in baches. To tag a whole subgraph, select 'tag subgraph' from the rightclick menu. This can be reversed with the 'untag subgraph' option.
			To tag the subnodes of a node, but not the subnodes of the subnodes, select 'tag subnodes'. To tag the nodes parents, select 'tag parents'.
			To make the graph simpler, you can also delete all untagged node by clicking on the 'delete all untagged' button on the right side of the graph.
		</p>
		<p id="undo"><strong>Undoing changes</strong></p><br/>
		<p>

		</p>
		<p id="info"><strong>Extra info and other databases</strong></p><br/>
		<p>
			Many of the nodes have links to other databases. You can access these links by rightclicking a node.
			The nodes always have a straight link to their entry in the external database that they can be found in,
			meaning that data from silva-database will have a link to silva ect. Enzyme nodes have more info available than
			other nodes. When right clicking on an enzyme node, you have the options to display it's info from BRENDA or KEGG.
			Also, clicking on an enzyme node, or clicking on the option 'more info' from the rightclick menu (if you don't want
			to open more connections from the enzyme) will open a list of the enzymes names and a list of pathways (from KEGG)
			which display the enzyme on the right side of the screen. For other additional info also see <a href="tooltips">tooltips</a>.
		</p>
		<p id="colors"><strong>Colors of the edges</strong></p><br/>
		<p>
			The coloring of the edges depends on the bitscore
		</p>
		<p id="alignments"><strong>Alignments</strong></p><br/>
		<p>

		</p>
		<p id="settings"><strong>Settings</strong></p><br/>
		<p>

		</p>

    </div>
    {% endblock %}


ß