{% extends "base.html" %}
    {% block additional_title %}- Register{% endblock %}
    {% block allcontent %}
    <div class="greenbox" id="register">
        <h2>Geovision</h2>
        <p>Please fill all these fields to register an account:</p>
        <form id="login" action="" method="post">
            <table id="registerform">
                <tr>
                    <td><p>Email: </p></td>
                    <td><input size="10" type="text" name="email" /></td>
                </tr>
                <tr>
                    <td><p>First name: </p></td>
                    <td><input size="10" type="text" name="firstname" /></td>
                </tr>
                <tr>
                    <td><p>Last name: </p></td>
                    <td><input size="10" type="text" name="lastname" /></td>
                </tr>
                <tr>
                    <td><p>Password: </p></td>
                    <td><input size="10" type="text" name="password1" /></td>
                </tr>
                <tr>
                    <td><p>Password again: </p></td>
                    <td><input size="10" type="text" name="password2" /></td>
                </tr>
            </table>
            <input id="register" type="submit" value="Register" size="10"/><br/>
        </form>
    <a href="login" id="back">Back</a>
    </div>
    {% endblock %}