    {% extends "base.html" %}
    {% block allcontent %}
    {% block additional_head %}{% endblock %}
    {% block additional_title %}{% endblock %}
        {% block topnavi %}
            <div id="staticnavi" class="clearafter">
                <ul>
                    <li><a href="">Index</a></li>
                    <li><a href="testgraph">Testgraph</a></li>
                    <li><a href="">Derp</a></li>
                    <li><a href="">Derp</a></li>
                    <li id="last"><a href="">Logout</a></li>
                </ul>
            </div>
        {% endblock %}
    {% block sidenavi %}{% endblock %}
    {% block content %}{% endblock %}
    {% endblock %}