    {% extends "base.html" %}
    {% block additional_head %}{% endblock %}
    {% block additional_title %}{% endblock %}
    {% block allcontent %}
        {% block topnavi %}
            <div id="staticnavi" class="clearafter">
                <ul>
                    <li><a href="">Index</a></li>
                    <li><a href="testgraph">Testgraph</a></li>
                    <li><a href="">Derp</a></li>
                    <li><a href="">Derp</a></li>
                    <li id="last"><a href="logging_out">Logout</a></li>
                </ul>
            </div>
        {% endblock %}
    {% block sidenavi %}
        <div id="graphnavi" class="transparent">
            <div id="close"><img src="{{ STATIC_URL }}images/ruksi.png" alt="close"/></div>
            <img id="optiontag" src="{{ STATIC_URL }}images/options.png" alt="display options"/>
            {% block sidenavi_content %}
            {% endblock %}
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
    {% endblock %}